{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'data_analytics/js/datafile.js' %}"></script>
{% endblock %}

{% block context %}
    <div class="container-fluid">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 col-4">
                    <div class="small-box bg-info" align="center">
                        <div class="card text-body bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header text-white">Bibliotecas</div>
                            <div class="card-body">
                                <h5 class="card-title text-white">{{ cont_libreries }}</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-4">
                    <div class="small-box bg-success" align="center">
                        <div class="card text-body bg-success mb-3" style="max-width: 18rem;">
                            <div class="card-header text-white">Salas de Cines</div>
                            <div class="card-body">
                                <h5 class="card-title text-white">{{ cont_cinemas }}</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-4">
                    <div class="small-box bg-primary" align="center">
                        <div class="card text-body bg-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header text-white">Museos</div>
                            <div class="card-body">
                                <h5 class="card-title text-white">{{ cont_museums }}</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock context %}

{% block columns %}
    <tr>
        <th class="th-sm">Categoría</th>
        <th class="th-sm">Total Registro</th>
        <th class="th-sm">Fecha</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
