{% extends 'list.html' %}

{% load static %}

{% block head_list %}
    <script src="{% static 'data_analytics/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th class="th-sm">Cod Localidades</th>
        <th class="th-sm">ID Provincias</th>
        <th class="th-sm">ID Departamento</th>
        <th class="th-sm">Categoría</th>
        <th class="th-sm">Provincias</th>
        <th class="th-sm">Localidades</th>
        <th class="th-sm">Nombre Categoría</th>
        <th class="th-sm">Dirección</th>
        <th class="th-sm">Cod Postal</th>
        <th class="th-sm">Teléfono</th>
        <th class="th-sm">Email</th>
        <th class="th-sm">Web</th>
        <th class="th-sm">Fecha Descarga</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}


