{% extends "home.html" %}

{% load static %}

{% block body %}

    <!-- Header -->
    {% include 'head.html' %}

    <div class="content-wrapper">

        <div class="container">

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h3>Bienvenidos a <span style="color: #0b51c5">Alkemy</span></h3>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">ChartJS</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <div class="card card-primary">
                <div class="card-header">
                    {% block card-header %}

                    {% endblock %}
                </div>

                <div class="card-body">

                    {% block content_data %}

                    {% endblock content_data %}

                </div>
            </div>

        </div>

        <!-- Footer -->
        {% include 'footer.html' %}
    </div>

    {% block javascript %}

    {% endblock %}

{% endblock %}