{% extends 'body.html' %}

{% load static %}

{% block card-header %}
    <h5 class="card-title">{{ title }} <i class="fa-solid fa-download"></i></h5>
{% endblock card-header %}

{% block content_data %}

    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <input id="hidden" type="hidden" name="action" value="{{ action }}">

        <div class="text-center">
            {% block button %}

            {% endblock button %}
        </div>

    </form>

{% endblock content_data %}
