{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ title }}</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/606bbbad74.js" crossorigin="anonymous"></script>

    <script src="{% static 'lib/bootstrap4/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/bootstrap4/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap4/css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap4/4.5.2/css/bootstrap.min.css' %}"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="{% static 'lib/bootstrap4/4.5.2/js/e894090d5a.js' %}" crossorigin="anonymous"></script>
    <!-- AdminLTE App - jquery -->
    <script src="{% static 'lib/adminlte/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/adminlte/js/adminlte.min.js' %}"></script>

    <script src="{% static 'lib/adminlte/plugins/fontawesome-free/css/all.min.css' %}"></script>
    <script src="{% static 'lib/adminlte/css/adminlte.min.css' %}"></script>

    <title>Alkemy - Data Analytics</title>
</head>
<body>
<div class="wrapper">
    {% block head %}

    {% endblock head %}

    {% block body %}

    {% endblock body %}

    {% block footer %}

    {% endblock footer %}
</div>
</body>
</html>


{#        <button type="button" class="btn btn-primary">Primary</button>#}
{#        <button type="button" class="btn btn-secondary">Secondary</button>#}
{#        <button type="button" class="btn btn-success">Success</button>#}
{#        <button type="button" class="btn btn-danger">Danger</button>#}
{#        <button type="button" class="btn btn-warning">Warning</button>#}
{#        <button type="button" class="btn btn-info">Info</button>#}
{#        <button type="button" class="btn btn-light">Light</button>#}
{#        <button type="button" class="btn btn-dark">Dark</button>#}
{#        <button type="button" class="btn btn-link">Link</button>#}

{#    <div class="content">#}
{#        <div class="container-fluid">#}
{##}
{#            <div class="card card-success">#}
{#                <div class="card-header">#}
{#                    <h3 class="card-title">{{ title }}</h3>#}
{#                </div>#}
{#                <div class="card-body">#}
{##}
{#                    {% block contain %}#}
{##}
{#                    {% endblock %}#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#<body class="hold-transition layout-top-nav">#}