{% extends "body.html" %}

{% load static %}

{% block head %}
    <!-- DataTable -->
    <link rel="stylesheet" href="{% static 'lib/datatables/datatables-1.10.22/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables/datatables-1.10.22/plugins/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables/datatables-1.10.22/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.22/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.22/plugins/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.22/plugins/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- -->
    {% block head_list %}

    {% endblock %}
{% endblock %}

{% block card-header %}
    <h5 class="card-title">{{ title }} <i class="fa-regular fa-rectangle-list"></i>
{% endblock %}

{% block content_data %}

        <div class="card-body">

            {% block context %}

            {% endblock context %}
            <!-- TABLE -->
            <table id="data" class="table table-striped table-hover">
{#                   class="table table-striped table-hover table-sm text-center">#}

                <thead class="bg-light">
                    {% block columns %}

                    {% endblock %}
                </thead>
                <tbody>
                    {% block rows %}

                    {% endblock %}
                </tbody>
            </table>

        </div>

         <div class="card-footer text-center" >
            {% block buttons_list %}
                <a href="{{ list_url }}" class="btn btn-success">Descarga <i class="fa-solid fa-arrow-down-wide-short"></i></a>
{#                <a href="{{ list_url }}" style="background-color:var(--structure_blue4); FONT-SIZE: 9pt" class="btn text-white btn-rounded">Actualizar <i class="fa-solid fa-rotate"></i></a>#}
            {% endblock %}
        </div>

{% endblock %}
{##}
{#{% block javascript %}#}
{#    <script type="application/javascript">#}
{#        $(function () {#}
{#            $('#data').DataTable();#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}